@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    height: 96vh;
    border: #201A23 solid 2px;
    border-radius: 19px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: "Noto Serif Telugu", serif;
}

.hed {
    color: #201A23;
    margin-top: 19px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.hed .lists{
    border-bottom: #201A23 solid 2px;
}
.hed .lists ul {
    margin-top: 16px;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 19px;
    font-size: 1rem;
    font-weight: 600;
}
.hed .lists li {
    display: flex;
}
