@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 90vw;
  height: 96vh;
  border: #201a23 solid 2px;
  border-radius: 19px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-family: "Noto Serif Telugu", serif;
}

.hed {
  color: #201a23;
  margin-top: 19px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.hed .lists {
  border-bottom: #201a23 solid 2px;
}
.hed .lists ul {
  margin-top: 16px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 19px;
  font-size: 1rem;
  font-weight: 600;
}
.hed .lists li {
  display: flex;
}
main {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.playground {
  width: 90%;
  height: 99.2%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #20bf55;
  z-index: 2;
}
.playground #btn {
  width: 90vw;
  height: 80vh;
  text-transform: uppercase;
  position: absolute;
  padding: 10px 20px;
  background-color: #201a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.playground #start {
  font-family: "Noto Serif Telugu", serif;
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.playground #start:hover {
  color: #49d684;
  transition: ease-in-out 0.3s;
}

#message {
  color: #ff331d;
  margin-top: 10px;
  z-index: 3;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 36%;
  font-size: 4rem;
  font-weight: 600;
  /* display: none; */
}

#btnRestart {
  width: 10vw;
  height: 8vh;
  background-color: #201a23;
  color: #fff;
  font-family: "Noto Serif Telugu", serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 12px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 43%;
  display: none;
}
